.navbar {
    margin-bottom: 0;
}

.jumbotron {
    height: 75vh;
    background-image: url(../assets/f16Falcon.jpg);
}

.jumbotron h1,
.jumbotron h2 {
    color: red;
    text-align: center;
}

.upper-bar h1 {
    text-align: center;
}

.content-section-b {
    background-color: #eee;
}

footer {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 15px;
}

.row h1,
.col-sm-6,
.section-heading h1 {
    color: red;
}
